body {
  margin: 0;
  font-family: 'Lora', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c9bb8e;
}

code {
  font-family: 'Lora', serif !important;
}
